* {
  color-scheme: none !important;
}
html {
  filter: invert(0.9) hue-rotate(180deg) !important;
  color-scheme: dark !important;
}
:where(img, video, image, [style*='background-image: url'], [style*='background: url']) {
  filter: invert(1) hue-rotate(180deg) contrast(1.1);
}
